* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(38, 10, 51);
position: fixed;
top: 0;
width: 100%
}

.nav li {
    float:left;

}

.nav li a {
    display:block;
    color:rgb(241, 248, 217);
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}

.active {
    background-color:darkblue;
}

.nav li a:hover:not(.active){
    background-color:rgb(58, 18, 153);
}
