* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.outer {
background-image:url(ms-paint.png);
width:auto;
height: auto;
background-size: cover;
}

.inner {
position:relative;
padding-left: 90px;
padding-top: 30px;

}